<div class="container ">
    <div class="row align-items-center ">
        <div >
            <div class="text-center">
                <!-- <img id="profile-img"  src="../../assets/img/carousel-bg-1.jpg" /> -->
                <h3>entrer your </h3>
                <!-- <p id="profile-name" class="profile-name-card"></p> -->
                <form  class="form-signin">
                    
                
                    <input type="password" name="password" id="inputPassword" class="form-control form-group" placeholder="password" required autofocus>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">enter</button>
                </form><!-- /form -->
            </div>
        </div>
    </div>
    </div>